<script type="text/javascript">
  RED.nodes.registerType('PoT-incoming',{
      category: 'function',
      color: '#a6bbcf',
      defaults: {
          name: {value:""},
          spec: {value:'in ID key'},
          timeout: {value:0, validate:RED.validators.number()},
      },
      inputs:1,
      outputs:2,
      icon: "envelope.png",
      label: function() {
          return this.name||"PoT-incoming";
      },
      outputLabels: ["new", "duplicate"],
  });
</script>

<script type="text/x-red" data-template-name="PoT-incoming">
  <div class="form-row">
    <label for="node-input-name"><i class="icon-tag"></i> Name</label>
    <input type="text" id="node-input-name" placeholder="Name">
  </div>
  <div class="form-row">
    <label for="node-input-spec"><i class="icon-tag"></i> Role Parameters</label>
    <input type="text" id="node-input-spec" placeholder='in ID key'>
  </div>
  <div class="form-row">
    <label for="node-input-timeout"><i class="fa fa-clock-o"></i> Timeout</label>
    <input type="text" id="node-input-timeout" placeholder="Timeout">
  </div>
  <div class="form-row node-input-rule-container-row">
    <ol id="node-input-rule-container"></ol>
  </div>
</script>

<script type="text/x-red" data-help-name="PoT-incoming">
  <p>
    Provide a message specification of comma-separated parameters, such as:
    <pre>in ID key, in item, out price</pre>
  </p>
  <p>
    A timeout of 0 disables the automatic enactment garbage collection.
  </p>
</script>
