<script type="text/javascript">
  RED.nodes.registerType('PoT-outgoing',{
      category: 'function',
      color: '#a6bbcf',
      defaults: {
          name: {value:""},
          spec: {value:'in ID key -> recipient'},
          //timeout: {value:15000, validate:RED.validators.number()},
      },
      inputs:1,
      outputs:1,
      icon: "envelope.png",
      label: function() {
          return this.name||"PoT-outgoing";
      },
      oneditprepare() {
          this.editor = RED.editor.createEditor({
              id: 'node-input-spec-editor',
              mode: 'ace/mode/text',
              value: $("#node-input-spec").val(),
              globals: {
                  msg:true,
                  context:true,
                  RED: true,
                  util: true,
                  flow: true,
                  global: true,
                  console: true,
                  Buffer: true,
                  setTimeout: true,
                  clearTimeout: true,
                  setInterval: true,
                  clearInterval: true
              }
          });
      },
      oneditsave: function() {
          $("#node-input-spec").val(this.editor.getValue());
          this.editor.destroy();
          delete this.editor;
      }
  });
</script>

<script type="text/x-red" data-template-name="PoT-outgoing">
  <div class="form-row">
    <label for="node-input-name"><i class="icon-tag"></i> Name</label>
    <input type="text" id="node-input-name" placeholder="Name">
  </div>
  <div class="form-row" style="margin-bottom: 0px;">
    <label for="node-input-spec"><i class="fa fa-wrench"></i></label>
    <input type="hidden" id="node-input-spec" autofocus="autofocus">
  </div>
  <div class="form-row node-text-editor-row" style="position:relative">
    <div style="position: absolute; right:0; bottom:calc(100% + 3px);"><button id="node-function-expand-js" class="red-ui-button red-ui-button-small"><i class="fa fa-expand"></i></button></div>
    <div style="height: 250px; min-height:150px;" class="node-text-editor" id="node-input-spec-editor" ></div>
  </div>
  <div class="form-row node-input-rule-container-row">
    <ol id="node-input-rule-container"></ol>
  </div>
</script>

<script type="text/x-red" data-help-name="PoT-outgoing">
  <p>Provide a message specification of comma-separated parameters, such as:
    <pre>in ID key, in item, out price</pre>
  </p>
</script>
